<% include partials/header%>

<!-- 0 1 2 3 4 5 6 7 8 -->
<!-- 3 3 3 3 3 3 3 3 3 -->
<!-- 0 1 2 0 1 2 0 1 2 -->
<section>

	<div style="display:flex; flex-direction: row; flex-wrap: wrap;justify-content:center;">

			<div class="threeColumns">
				<% for(var i = 0; i < foundRecipes.length; i++){ %>
					<% if(i < foundRecipes.length && i % 3 === 1 ) { %>
							<div class="individualRecipe" >
								<div class="title"><%= foundRecipes[i].title %> </div>
								<img src="<%= foundRecipes[i].image_link%>">
								<%= foundRecipes[i]._id%>
							</div>
						<!-- individual recipe -->
					<% } %>
					<!-- column 1 logic -->
			<!-- inner loop -->
				<% } %>
			</div>
			<!-- column 1 -->

			<div class="threeColumns">
				<% for(var i = 0; i < foundRecipes.length; i++){ %>
					<% if(i < foundRecipes.length && i % 3 === 2 ) { %>
							<div class="individualRecipe" >
								<div class="title"><%= foundRecipes[i].title %> </div>
								<img src="<%= foundRecipes[i].image_link%>">

							</div>
						<!-- individual recipe -->
					<% } %>
					<!-- column 1 logic -->
			<!-- inner loop -->
				<% } %>
			</div>
			<!-- column 1 -->

			<div class="threeColumns">
				<% for(var i = 0; i < foundRecipes.length; i++){ %>
					<% if(i < foundRecipes.length && i % 3 === 0 ) { %>
							<div class="individualRecipe" >
								<div class="title"><%= foundRecipes[i].title %> </div>
								<img src="<%= foundRecipes[i].image_link%>">

							</div>
						<!-- individual recipe -->
					<% } %>
					<!-- column 1 logic -->
			<!-- inner loop -->
				<% } %>
			</div>
			<!-- column 1 -->
 
	</div>
	<!-- row of 3 columns -->
</section>

