<% include partials/header %>

<!-- 0 1 2 3 4 5 6 7 8 -->
<!-- 3 3 3 3 3 3 3 3 3 -->
<!-- 0 1 2 0 1 2 0 1 2 -->
<section>

	<div style="display:flex; flex-direction: row; flex-wrap: wrap;justify-content:center;">

			<div class="threeColumns">
				<% for(var i = 0; i < foundRecipes.length; i++){ %>
					<% if(i < foundRecipes.length && i % 3 === 0 ) { %>
						<a href="/recipes/<%= foundRecipes[i].category %>/<%= foundRecipes[i]._id %>">
							<div class="individualRecipe">
									<img src="<%= foundRecipes[i].image_link%>" alt="/assets/missingImage.jpeg">
									<div class="title"><%= foundRecipes[i].title %> </div>
									<!-- <a href="/"> -->
										<% if (typeof currentUser != 'undefined'){ %> 
											<a class="recipeLink"onclick="favoriteRecipe('<%= foundRecipes[i].id %>')">
												<!-- <button id="target" style="width:50px; height:50px; background-color:red;"> -->
													<i id="addToFavorite" class="fas fa-star fa-3x favorite2"></i>
												<!-- </button> -->
											</a>
										<% } %>
									<!-- </a> -->
							</div>
						</a>
						<!-- individual recipe -->
					<% } %>
					<!-- column 1 logic -->
			<!-- inner loop -->
				<% } %>
			</div>
			<!-- column 1 -->

			<div class="threeColumns">
				<% for(var i = 0; i < foundRecipes.length; i++){ %>
					<% if(i < foundRecipes.length && i % 3 === 1 ) { %>
						<a href="/recipes/<%= foundRecipes[i].category %>/<%= foundRecipes[i]._id %>">
							<div class="individualRecipe">
									<img src="<%= foundRecipes[i].image_link%>" onerror="assets/missingImage.jpeg">
									<div class="title"><%= foundRecipes[i].title %> </div>
									<!-- <a href="/"> -->
										<% if (typeof currentUser != 'undefined'){ %> 
											<a onclick="myFunction('<%= foundRecipes[i].id %>')">
												<!-- <button id="target" style="width:50px; height:50px; background-color:red;"> -->
													<i id="addToFavorite" class="fas fa-star fa-3x favorite2"></i>
												<!-- </button> -->
											</a>
										<% } %>
									<!-- </a> -->
							</div>
						</a>
						<!-- individual recipe -->
					<% } %>
					<!-- column 1 logic -->
			<!-- inner loop -->
				<% } %>
			</div>
			<!-- column 1 -->

			<div class="threeColumns">
				<% for(var i = 0; i < foundRecipes.length; i++){ %>
					<% if(i < foundRecipes.length && i % 3 === 2 ) { %>
						<a href="/recipes/<%= foundRecipes[i].category %>/<%= foundRecipes[i]._id %>" >
							<div class="individualRecipe">
									<img src="<%= foundRecipes[i].image_link%>" alt="/assets/missingImage.jpeg">
									<div class="title"><%= foundRecipes[i].title %> </div>
									<!-- <a href="/"> -->
										<% if (typeof currentUser != 'undefined'){ %> 
											<a class="recipeLink" onclick="myFunction('<%= foundRecipes[i].id %>')">
												<!-- <button id="target" style="width:50px; height:50px; background-color:red;"> -->
													<i id="addToFavorite" class="fas fa-star fa-3x favorite2"></i>
												<!-- </button> -->
											</a>
										<% } %>
									<!-- </a> -->
							</div>
						</a>
						<!-- individual recipe -->
					<% } %>
					<!-- column 1 logic -->
			<!-- inner loop -->
				<% } %>
			</div>
			<!-- column 1 -->
 
	</div>
	<!-- row of 3 columns -->
</section>

<script type="text/javascript" src="/jQuery/restRecipe.js"></script>



